<mat-toolbar>

  <mat-toolbar-row>

<button class="mr-3" mat-raised-button (click)="toggleSidebar()" ><mat-icon >menu</mat-icon></button>
<button  mat-raised-button [matMenuTriggerFor]="userMenu" ><mat-icon>person_outline</mat-icon></button>
<mat-menu #userMenu="matMenu" >

<button mat-menu-item ><mat-icon >exit_to_app</mat-icon>Sing Out</button>
<button mat-menu-item ><mat-icon >notification_important</mat-icon>Notifications</button>

</mat-menu>

<div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
  <img src="../../../../assets/fahmawylogo1.png" class="w-25"></div>



</mat-toolbar-row>
</mat-toolbar>
